body{
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: bl;
}
.header{
    text-align: center;
}
.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
  }
  